.body{
	background-image: url(assets/background-image1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.t
{
	border: 1px solid white;
	border-collapse: collapse;
	background-color: white;
	
}

.r1{
	height: 30px;
	background-color: rgb(242, 58, 58);
	color: white;
}

.start{
	font-size: 30px;
	text-align: right;
	color: black;
	text-decoration-style: solid;
	font-weight: bold;
	margin: 42px;
	text-shadow: 0px 0px  2px black;
}
.a{
	line-height: 0.3;
}
.title{
	text-decoration-style: solid;
	text-transform: uppercase;font-weight: bold;
	text-shadow: 0px 0px  2px black;
	font-size: 32px;
}
h4{
	 font-weight: bold;
}
.footer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative;
    font-style: normal;
    color: black;
    font-weight: bold;
    
}